{% extends "base.html" %}
{% load static %}

{% block title %}
    Sign In | Hop & Barley
{% endblock %}

{% block content %}

<!-- Main Content -->
<main class="cart-page-wrapper">
  <div class="cart-container">
    <h1 class="cart-title">Shopping Cart</h1>

    <div class="cart-items-list" id="cart-items-list">
      <!-- Cart Item 1 -->
      <div class="cart-item" data-price="5.99">
        <img src="{% static 'img/products/citra_hops.jpg' %}" alt="Citra Hops" class="cart-item__image">
        <div class="cart-item__body">
          <div class="cart-item__details">
            <h2 class="cart-item__name">Citra Hops</h2>
            <div class="cart-item__price-info">
              <p class="cart-item__price" data-item-total-price>
                $29.95
              </p>
              <span class="cart-item__price-tag">per 100g</span>
            </div>
          </div>
          <div class="cart-item__actions">
            <div class="cart-item__quantity-selector">
              <button class="quantity-btn-cart" data-action="decrease"><i class="fa-solid fa-minus"></i></button>
              <span class="quantity-value-cart">5</span>
              <button class="quantity-btn-cart" data-action="increase"><i class="fa-solid fa-plus"></i></button>
            </div>
            <button class="button--remove" data-action="remove">
              Remove <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Cart Item 2 -->
      <div class="cart-item" data-price="3.00">
        <img src="{% static 'img/products/caramel_malt.jpg' %}" alt="Caramel Malt 60L" class="cart-item__image">
        <div class="cart-item__body">
          <div class="cart-item__details">
            <h2 class="cart-item__name">Caramel Malt 60L</h2>
            <div class="cart-item__price-info">
              <p class="cart-item__price" data-item-total-price>
                $3.00
              </p>
              <span class="cart-item__price-tag">per 1 lb</span>
            </div>
          </div>
          <div class="cart-item__actions">
            <div class="cart-item__quantity-selector">
              <button class="quantity-btn-cart" data-action="decrease"><i class="fa-solid fa-minus"></i></button>
              <span class="quantity-value-cart">1</span>
              <button class="quantity-btn-cart" data-action="increase"><i class="fa-solid fa-plus"></i></button>
            </div>
            <button class="button--remove" data-action="remove">
              Remove <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="cart-summary">
      <div class="cart-summary__total">
        <p>Total</p>
        <p id="cart-total-price">$32.95</p>
      </div>
      <a href="checkout.html" class="button button--primary button--checkout">Proceed to Checkout</a>
    </div>
  </div>
</main>

{% endblock %}
