{% extends "base.html" %}
{% load static %}

{% block title %}
    Sign In | Hop & Barley
{% endblock %}

{% block content %}

<!-- Main Content -->
<main class="auth-page-wrapper">
  <div class="auth-background">
    <img src="{% static 'img/background/pattern.jpg' %}" alt="Background pattern">
  </div>
  <div class="auth-form-container">
    <div class="auth-container auth-container--forgot-password">
      <form class="auth-form" id="forgot-password-form">
        <div class="InputField">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="Input" placeholder="Value" required>
        </div>

        <div class="ButtonGroup ButtonGroup--center">
          <a href="login.html" class="button button--cancel">Cancel</a>
          <button type="submit" class="button button--primary">Reset Password</button>
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}
