{% extends "base.html" %}
{% load static %}

{% block title %}
    Sign In | Hop & Barley
{% endblock %}

{% block content %}

<!-- Main Content -->
<main class="auth-page-wrapper">
  <div class="auth-background">
    <img src="{% static 'img/background/pattern.jpg' %}" alt="Background pattern">
  </div>
  <div class="auth-form-container">
    <div class="auth-container auth-container--login">
      <div class="Legend">
        <h1 class="auth-title">Sign In</h1>
      </div>

      <form class="auth-form" id="login-form" method="post" action="{% url 'auth_login' %}">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div class="error">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
        {% endif %}

        {% for field in form %}
            <div class="InputField">
                {{ field.label_tag }}
                {{ field }}

                {% if field.errors %}
                  {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                  {% endfor %}
                {% endif %}
            </div>
        {% endfor %}

        <div class="ButtonGroup">
          <button type="submit" class="button button--primary">Sign In</button>
        </div>

        <div class="TextLink">
          <a href="{% url 'auth_password_reset' %}">Forgot password?</a>
        </div>
      </form>

      <p class="auth-switch">Don’t have an account? <a href="{% url 'auth_registration' %}">Sign up</a></p>
    </div>
  </div>
</main>

{% endblock %}